// colors
$primary-color: #726bea;
$secondary-color: #29335c;
$accent-color: #66717e;
$body-color: #e5ecf4;
$card-color: #f8f8f8;
$text-color-light: #f5f5f5;
$success-color: #559e32;
$failed-color: #d33329;
