@use "../abstracts/variables" as var;
@use "../base/typography" as fonts;
@use "../abstracts/mixins";

.progress-bar {
  position: relative;
  overflow: hidden;
  @include mixins.flex(space-between, center);
  width: 100%;
  counter-reset: step;

  & li {
    @include mixins.flex(center, center);
    margin-bottom: 1rem;
    font-size: 0.889rem;
    font-weight: map-get(fonts.$font-weight, regular);
    color: var.$accent-color;

    &::before {
      content: counter(step);
      counter-increment: step;
      margin-right: 0.3rem;
      padding: 0 0.5em;
      background-color: var.$accent-color;
      color: var.$card-color;
      border-radius: 5px;
    }

    &:not(:first-child)::before {
      margin-left: 0.3rem;
    }

    &:not(:last-child):after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1.5px;
      background-color: var.$accent-color;
    }

    &.active {
      color: var.$primary-color;

      &::before {
        background-color: var.$primary-color;
      }
    }
  }
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
  text-align: start;
}

.form-control {
  width: 100%;
  padding: 0.8em 1em;
  font-size: clamp(0.75rem, 4vw, 1rem);
  background: none;
  outline: none;
  color: var.$secondary-color;
  caret-color: var.$primary-color;
  border: 1px solid var.$secondary-color;
  border-radius: 5px;

  &:focus {
    border-color: var.$primary-color;
  }

  &.invalid {
    margin-bottom: 0.2rem;
    border-color: var.$failed-color;
  }
}

.form-label {
  position: absolute;
  left: 0;
  padding: 0.6em 1em;
  font-size: clamp(0.75rem, 4vw, 1rem);
  color: var.$accent-color;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-control:focus ~ .form-label {
  padding: 0 0.5em;
  background-color: var.$card-color;
  color: var.$primary-color;
  transform: translateY(-50%) scale(0.8);
}

.form-control:not(:placeholder-shown).form-control:not(:focus) ~ .form-label {
  padding: 0 0.5em;
  background-color: var.$card-color;
  color: var.$secondary-color;
  transform: translateY(-50%) scale(0.8);
}

.invalid-feedback {
  font-size: 0.8rem;
  color: var.$failed-color;
}
